* {
  color: black;
  font-family: "Roboto";
  margin: 0;
}



.block {
    justify-content: center;
    height:25%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

.header {
  background-color: #FF1A59;
  overflow: auto;
  margin: 40px;
  padding: 40px;
}

.header h1 {
  float: left;
}

.about {
  background-color: #FF1A59;
  height:25%;

  overflow: auto;
  margin: 40px;
  padding: 40px;
  display: flex;
}

.skills {
  background-color: #FF1A59;
  overflow: auto;
  margin: 40px;
  padding: 10%;
  display: flex;
  flex-direction: row;
}

.yellow-square {
    padding:10%;
    margin: 5%;
    margin-top: 12%;
    background-color: yellow;
    overflow: auto;
    justify-content: space-between;
}

.contact {
  text-align: center;
  background-color: #FF1A59;
  overflow: auto;
  margin: 40px;
  padding: 40px;
  padding-top: 20px;
}

.navigation {
  float: right;
}

button {
  background-color: #ed1b1b;
}
img{
    width:70%;
    padding: 50px;
}

.red-square {
    background-color: red;
}

/*.description {
    padding:10%;
}*/
